.question-answers{
    padding: 10px;
    margin-left: 20px;

}
.answer-vote-box{
    text-align: right;
    float: right;
}
.question-text{
    margin-bottom: 0px;
}
.answer-author-username{

}
.answer-text{

}